@using System.Data
@using SequelyMAUI.Entities

@inject IDbService _DbService
@inject ITabService _TabService
@inject ISnackbar _Snackbar

<MudTextField T="string" Variant="Variant.Outlined" Lines="10" @bind-Value="@TabEntity.State.TypingQuery" />

@if(_IsLoading)
{
    <MudOverlay DarkBackground="true" Visible="true" >
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" Style="margin:auto" />
    </MudOverlay>

}

@if (TabEntity.State.QueriedData != null)
{
    <MudSimpleTable Dense="@true" Bordered="@true" Style="margin-top: 30px;">
        <thead>
            <tr>
                @foreach (DataColumn column in TabEntity.State.QueriedData.Columns)
                {
                    <th>@column.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (var index = _PageSize * (_SelectedPage - 1);
           index < TabEntity.State.QueriedData.Rows.Count && index < _PageSize * _SelectedPage;
           index++)
           {
                var row = TabEntity.State.QueriedData.Rows[index];
                <tr>
                    @foreach (DataColumn c in TabEntity.State.QueriedData.Columns)
                    {
                        <td>@row[c]</td>
                    }
                </tr>
           }
        </tbody>
    </MudSimpleTable>

    int paginatorCount = (int)Math.Ceiling(Decimal.Divide(TabEntity.State.QueriedData.Rows.Count, _PageSize));
    if (paginatorCount > 1)
    {
        <div style="display: flex; justify-content:center">
            <MudPagination BoundaryCount="1" MiddleCount="1" Count="@(paginatorCount)" @bind-Selected="@_SelectedPage" Style="margin-top: 20px" />
        </div>
    }


}

<MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.PlayArrow" Style="position:fixed; bottom:100px;right:200px" OnClick="@RunQuery"/>

@code 
{


    [Parameter]
    public EventCallback<TabEntity> RemoveTab { get; set; }

    [CascadingParameter(Name = "TabEntity")]
    public TabEntity TabEntity { get; set; } = new TabEntity();
    private bool _IsLoading { get; set; } = false;

    private int _SelectedPage = 1;
    private int _PageSize = 10;

    protected override void OnInitialized()
    {
        _Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
        _Snackbar.Configuration.VisibleStateDuration = 1000;
        _Snackbar.Configuration.HideTransitionDuration = 500;
        _Snackbar.Configuration.ShowTransitionDuration = 500;

    }


    async Task RunQuery()
    {
        if (!await _TabService.CheckIfTabElementExists(TabEntity))
        {
            await App.Current!.MainPage!.DisplayAlert("Error", "Element does not exist in the current host", "Cancel");
            await RemoveTab.InvokeAsync(TabEntity);

            return;
        }

        _IsLoading = true;

        await _DbService.RunQueryAsync($"USE `{TabEntity.DbName}`");
        TabEntity.State.QueriedData = await _DbService.RunQueryAsync(TabEntity.State.TypingQuery);

        _IsLoading = false;

        if (TabEntity.State.QueriedData == null)
        {
            return;
        }

        _Snackbar.Add("Query executed successfully", Severity.Success);


    }
}
